@charset "utf-8";

$clear: transparent !default;

$base-white: #fff !default;
$base-black: #18181C !default;
$base-background: #F7F8FA !default;
$base-background-dark: #F6F6F6 !default;
$base-background-dark2: #E6E6E6 !default;

$grey-primary: #606060 !default;
$grey-secondary: #7C889B !default;
$grey-tertiary: #9CA3AF !default;
$grey-quatinary: #DCDCDD !default;
$grey-disabled: #EAEAEB !default;

$borders-default: #E6E6E6 !default;
$borders-dark: #DBDBDB !default;

$primary-800: #12043F !default;
$primary-700: #280887 !default;
$primary-600: #410FD3 !default;
$primary-500: #533DFF !default;
$primary-400: #654BFF !default;
$primary-300: #875FFE !default;
$primary-200: #DEDAFE !default;
$primary-100: #EFEDFF !default;
$primary-50: #F9F9FF !default;

$success-500: #3ABA6F !default;
$success-400: #47D080 !default;
$success-300: #6CD999 !default;
$success-200: #98E4B8 !default;
$success-100: #C1EFD4 !default;
$success-50: #DAF5E5 !default;

$warning-500: #FFC700 !default;
$warning-400: #FFD233 !default;
$warning-300: #FFDF70 !default;
$warning-200: #FFE99B !default;
$warning-100: #FFF2C3 !default;
$warning-50: #FFF8E1 !default;

$error-500: #FF3B30 !default;
$error-400: #FF6565 !default;
$error-300: #FF9393 !default;
$error-200: #FFB3B3 !default;
$error-100: #FFD5D5 !default;
$error-50: #FFEAEA !default;

$orange-500: #FFAB00 !default;
$orange-400: #FFC859 !default;
$orange-300: #FFDA8C !default;
$orange-200: #FFEABF !default;
$orange-100: #FFF2DD !default;
$orange-50: #FFFBF2 !default;

$lime-500: #64DD16 !default;
$lime-400: #9AE969 !default;
$lime-300: #B9EF97 !default;
$lime-200: #D8F5C5 !default;
$lime-100: #E9FAD8 !default;
$lime-50: #F7FDF3 !default;

$teal-500: #01C0A6 !default;
$teal-400: #2FD7BF !default;
$teal-300: #7CDED0 !default;
$teal-200: #A3E8DE !default;
$teal-100: #C8F1EB !default;
$teal-50: #E3F8F5 !default;

$blue-500: #2879FE !default;
$blue-400: #74A8FE !default;
$blue-300: #9EC2FF !default;
$blue-200: #C9DDFE !default;
$blue-100: #DEEBFF !default;
$blue-50: #F4F9FF !default;

$sky-500: #3AE9E6 !default;
$sky-400: #59D2E3 !default;
$sky-300: #8DE1EB !default;
$sky-200: #BFEEF4 !default;
$sky-100: #DCF4F8 !default;
$sky-50: #F2FCFE !default;

// 채널 컬러
$insta: $blue-500;
$community: $teal-500;
$blog: $lime-500;
$news: $orange-500;
$youtube: $error-500;
$twitter :$base-black;

// 긍부정 컬러
$positive: $primary-500;
$negative: $error-500;
$neutral: $orange-500;

// chart color
$chart-0: #C4C9FA;
$chart-1: #B8ABEE;
$chart-2: #8D75F0;
$chart-3: #5D2BF4;
$chart-4: #260882;
$chart-5: #875FFE;
$chart-6: #3F07EF;
$chart-7: #3953FE;
$chart-8: #4093FF;
$chart-9: #48E3FF;
$chart-10: #44D2CD;

$channel-colors: (
    "insta": $insta,
    "community": $community,
    "blog": $blog,
    "news": $news,
    "youtube": $youtube,
    "twitter": $twitter,
);

// 키 컬러
$key-colors: (
    "primary-500": $primary-500,
    "error-500": $error-500,
    "orange-500": $orange-500,
    "blue-500": $blue-500,
    "teal-500": $teal-500,
    "lime-500": $lime-500,
    "base-black": $base-black,
    "warning-500": $warning-500,
    "sky-500": $sky-500,
    "success-500": $success-500,
    "grey-primary": $grey-primary,
    "grey-secondary": $grey-secondary,
    "grey-tertiary": $grey-tertiary,
    "grey-quatinary": $grey-quatinary,
    "grey-disabled": $grey-disabled,
);

$base-font: "Pretendard", "맑은고딕", "Malgun Gothic", "돋움", Dotum, "굴림", Gulim, 'AppleSDGothicNeo-Light', AppleGothic, Helvetica, Arial, 'HelveticaNeue-Light', 'sans-serif-light', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$icon: 'MingCute !important';

// base px 변경시, rem 다시 계산해서 수정
$h1: 4.4rem !default;
$h2: 3.4rem !default;
$h2-small: 2.733rem !default;
$h3: 2.467rem !default;
$h4: 1.8rem !default;
$h5: 1.467rem !default;
$h6: 1.267rem !default;

$font-size-default: 16px;
$font-size-base: 1rem !default;
$font-size-h1: 2rem !default;
$font-size-h2: 0rem !default;
$font-size-h3: 0rem !default;
$font-size-h4: 1.625rem !default;
$font-size-h5: 0rem !default;
$font-size-h6: 1.25rem !default;
$font-size-xl: 1.25rem !default;
$font-size-lg: 1.125rem !default;
$font-size-sm: .875rem !default;
$font-size-xs: .75rem !default;

$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$font-weight-100: $font-weight-thin;
$font-weight-200: $font-weight-extra-light;
$font-weight-300: $font-weight-light;
$font-weight-400: $font-weight-regular;
$font-weight-500: $font-weight-medium;
$font-weight-600: $font-weight-semi-bold;
$font-weight-700: $font-weight-bold;

// 노트북 최소 사이즈
$min-width: 1440px;

// card 
$card-shadow: #D3D7DD !default;

// 모달 오버레이
$dim-opacity: 0.5;

// z-index 설정
$z-level1: 9999999;
$z-level2: 9999989;
$z-level3: 9999979;

$gradation-01: linear-gradient(134deg, #4AD8FF 0.01%, #463DFA 48.44%, #843DFC 94.27%);