
// 이태원 배너
.main-visual {background-color: #252524;background-size: auto;
    .special-copy {display: flex;align-items: center;justify-content: center;font-family: 'gyeonggiBatang';font-weight: 700;text-align: center;color: #7D7D7D;font-size: 22px;}
    .special-copy h2 {display: inline-flex;align-items: center;justify-content: center;margin: 20px 0 10px;}
    .special-copy h2 i {margin-left: 13px;}
}

.main-most-keywords .main-mostKeyword-list a:hover {background-color: #000;border-color: #000;}